/* PRODUCTOS CARRITO */
#cartList{
    border: solid 0.3em #d5e33f;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

/* TITULO PRODUCTOS CARRITO */
.titleCartItem{
    color: #9a70b0;
}

/* BOTON ELIMINAR PRODUCTO */
.btnEliminar{
    font-family: 'Amatic SC', cursive;
    border-radius: 50%;
    background-color: #9a70b0;
    color: black;
    border: none;
    padding: 0.2em;
}
.btnEliminar:hover{
    background-color: #d05656;
    color: black;
}
.btnEliminar:active{
    background-color: rgb(253, 241, 180);
    color: black;
}


@media (max-width: 894px) {
    .titleCartItem{
        font-size: 3em;
    }

    .cartItem{
        font-size: 2em;
    }

    .btnEliminar{
        font-size: 1.5em;
    }
}

@media (min-width: 895px) {
    .titleCartItem{
        font-size: 5em;
    }

    .cartItem{
        font-size: 4em;
    }

    .btnEliminar{
        font-size: 2em;
    }
}