#CartList{
    border: solid 0.3em #d5e33f;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.titleCarritoItem{
    color: #9a70b0;
}

.btnEliminar{
    font-family: 'Amatic SC', cursive;
    border-radius: 50%;
    background-color: #9a70b0;
    color: black;
    border: none;
    padding: 0.2em;
}
.btnEliminar:hover{
    background-color: #d05656;
    color: black;
}
.btnEliminar:active{
    background-color: rgb(253, 241, 180);
    color: black;
}


@media (max-width: 894px) {
    .titleCarritoItem{
        font-size: 2em;
    }

    .carritoItem{
        font-size: 2em;
    }

    .btnEliminar{
        font-size: 1.5em;
    }
}

@media (min-width: 895px) {
    .titleCarritoItem{
        font-size: 3em;
    }

    .carritoItem{
        font-size: 3em;
    }

    .btnEliminar{
        font-size: 2em;
    }
}