#cartItemDetail{
    text-align: center;
    margin-bottom: 4em;
}

.nameProduct{
    font-family: 'Cinzel Decorative', cursive;
    padding: 1em;
}

.descriptionProduct{
    font-family: 'Amatic SC', cursive;
    padding: 1em;
}

.titleTalle{
    font-family: 'Amatic SC', cursive;
}

.size{
    font-size: 2em;
}

.priceProduct{
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 1em;
}


@media (max-width: 894px) {
    .nameProduct{
        font-size: 3em;
    }

    .descriptionProduct{
        font-size: 2.5em;
    }

    .titleTalle{
        font-size: 2em;
    }

    .priceProduct{
        font-size: 3em;
    }
}

@media (min-width: 895px) {
    .nameProduct{
        font-size: 4em;
    }

    .descriptionProduct{
        font-size: 3em;
    }

    .titleTalle{
        font-size: 2.5em;
    }

    .priceProduct{
        font-size: 4em;
    }
}