.cartQuestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

.titleQuestions{
    text-align: center;
    padding: 1em 1em 0 1em;
    color: #d5e33f;
    font-family: 'Cinzel Decorative', cursive;
}

.textQuestions{
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.subtitleQuestions{
    color: #9a70b0;
    font-family: 'Cinzel Decorative', cursive;
}

.text2Questions{
    font-family: 'Amatic SC', cursive;
}


@media (max-width: 894px) {
    .cartQuestions{
        gap: 3em;
    }

    .titleQuestions{
        font-size: 4em;
    }

    .textQuestions{
        font-size: 2em;
        padding: 0 1em;
    }

    .subtitleQuestions{
        text-align: center;
        font-size: 2.5em;
    }

    .text2Questions{
        text-align: center;
        font-size: 1.7em;
        padding: 0 1em 1em 1em;
    }
}

@media (min-width: 895px) {
    .cartQuestions{
        gap: 8em;
    }

    .titleQuestions{
        font-size: 6em;
    }

    .textQuestions{
        font-size: 3em;
    }

    .subtitleQuestions{
        text-align: left;
        font-size: 4em;
    }

    .text2Questions{
        text-align: left;
        font-size: 2.3em;
        padding-bottom: 1em;
    }
}