#cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#numberCart{
    font-size: 2.5em;
    font-family: "Amatic SC", cursive;
}
  
#iconCart {
    color: #9a70b0;
}

@media (max-width: 894px) {
    #iconCart {
      font-size: 2.5em;
    }
}

@media (min-width: 895px) {
    #iconCart {
        font-size: 3.5em;
    }
}