/* NAVBAR */
#navbar {
    background-color: rgb(253, 241, 180);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbarnav {
    display: flex;
    flex-direction: row;
}

/* LINKS DE NAVBAR */
#navlink {
    font-family: "Amatic SC", cursive;
    text-decoration: none;
    color: black;
}
#navlink:hover {
    color: #9a70b0;
}
#navlink:active {
    color: #d5e33f;
}

/* ICONOS CARRITO Y MENU HAMBURGUESA */
#icons {
    display: flex;
    align-items: center;
    gap: 1em;
}
#iconMenu {
    font-size: 2em;
}
#navbarToggle {
    border: none;
}
  
@media (max-width: 894px) {
    #navbarnav {
      gap: 2em;
    }

    #navlink {
      font-size: 2em;
      padding: 0;
    }

    #iconCart {
      font-size: 2.5em;
    }
}

@media (min-width: 895px) {
    #navbarnav {
      gap: 4em;
    }

    #navlink {
        font-size: 3em;
    }

    #iconCart {
        font-size: 3.5em;
    }
}