#cartCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

#productCarrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    font-family: 'Amatic SC', cursive;
    padding: 2em;
}