#cartCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

#productCarrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    font-family: 'Amatic SC', cursive;
    padding: 2em;
}

.titleTotalPrice{
    font-family: 'Cinzel Decorative', cursive;
}


@media (max-width: 894px) {
    .titleTotalPrice{
        font-size: 2em;
    }
}

@media (min-width: 895px) {
    .titleTotalPrice{
        font-size: 3em;
    }
}