#cartCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.titleTotalPrice{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}


@media (max-width: 894px) {
    .titleTotalPrice{
        font-size: 2em;
    }
}

@media (min-width: 895px) {
    .titleTotalPrice{
        font-size: 3em;
    }
}