/* CONTADOR */
#accountant{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BOTONES RESTAR Y SUMAR */
#btnAccountant{
    display: flex;
    gap: 2em;
}
.btnAccountant{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    font-size: 3em;
    background-color: #d5e33f;
}
.btnAccountant:hover{
    background-color: #9a70b0;
    color: white;
}
.btnAccountant:active{
    background-color: rgb(253, 241, 180);
    color: black;
}

/* BOTON SUMAR */
.btnAccountantSuma{
    padding: 0 0.4em;
}

/* BOTON RESTAR */
.btnAccountantResta{
    padding: 0 0.5em;
}

/* VALOR CANTIDAD */
.valiuAccountant{
    font-family: 'Cinzel Decorative', cursive;
}

/* BOTON AGREGAR AL CARRITO */
.btnAddToCart{
    font-family: 'Amatic SC', cursive;
    border-radius: 50%;
    background-color: #9a70b0;
    color: black;
    border: none;
}
.btnAddToCart:hover{
    background-color:#d5e33f;
    color: black;
}
.btnAddToCart:active{
    background-color: rgb(253, 241, 180);
    color: black;
}


@media (max-width: 894px) {
    .btnAccountant{
        font-size: 2em;
    }

    .valiuAccountant{
        font-size: 3em;
    }

    .btnAddToCart{
        font-size: 2em;
    }
}

@media (min-width: 895px) {
    .btnAccountant{
        font-size: 3em;
    }

    .valiuAccountant{
        font-size: 4em;
    }

    .btnAddToCart{
        font-size: 3em;
    }
}