/* BOTONES FINALIZAR COMPRA Y VACIAR CARRITO */
.btnForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.btnFormStyle{
    font-family: 'Amatic SC', cursive;
    border-radius: 50%;
    background-color: #d05656;
    color: black;
    border: none;
}
.btnFormStyle:hover{
    background-color: #d5e33f;
    color: black;
}
.btnFormStyle:active{
    background-color: rgb(253, 241, 180);
    color: black;
}


@media (max-width: 894px) {
    .btnFormOk{
        font-size: 2em;
    }
    .btnFormClear{
        font-size: 1.5em;
    }
}

@media (min-width: 895px) {
    .btnFormOk{
        font-size: 3em;
    }
    .btnFormClear{
        font-size: 2em;
    }
}